{{- if .Values.marketplaceResources }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ .Release.Name }}-gloo-installer
  namespace: {{ .Release.Namespace }}
spec:
  template:
    spec:
      serviceAccount: {{ .Values.glooctlInstaller.serviceAccount }}
      containers:
      - name: glooctl-installer
        image: {{ .Values.glooctlInstaller.image.repository }}:{{ .Values.glooctlInstaller.image.tag }}
        command: 
          # - "sleep"
          # - "6000"
          - "glooctl"
          - "install"
          - "gateway"
          {{- if .Values.enterpriseLicense }}
          - "enterprise"
          - "--license-key"
          - {{ .Values.enterpriseLicense }}
          - "--file"
          - "/var/gloo/gloo-ee-1.0.0.tgz"
          {{- else }}
          - "--file"
          - "/var/gloo/gloo-1.0.0.tgz"
          {{- end }}
          # - "--dry-run"
          - "--namespace"
          - {{ .Release.Namespace }}
      {{- if .Values.debug }}
      - name: glooctl-installer-debug
        image: {{ .Values.glooctlInstaller.image.repository }}:{{ .Values.glooctlInstaller.image.tag }}
        command:
          - "echo"
          - "parameters, enterpriseLicense: "
          - {{ .Values.enterpriseLicense }}
          - "this is what will run:"
          - "glooctl"
          - "install"
          - "gateway"
          {{- if .Values.enterpriseLicense }}
          - "enterprise"
          - "--license-key"
          - {{ .Values.enterpriseLicense }}
          - "--file"
          - "/var/gloo/gloo-ee-1.0.0.tgz"
          {{- else }}
          - "--file"
          - "/var/gloo/gloo-1.0.0.tgz"
          {{- end }}
          - "--namespace"
          - {{ .Release.Namespace }}
      - name: glooctl-installer-debug-sleep
        image: {{ .Values.glooctlInstaller.image.repository }}:{{ .Values.glooctlInstaller.image.tag }}
        command: 
          - "sleep"
          - "6000"
      {{- end }}
      restartPolicy: Never
  backoffLimit: 4
{{- end }}
